.main {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;

	h1 {
		font-size: 4em;
	}
}

.confirmButton {
	grid-column: 2;
	grid-row: 2;
	width: 100%;
}

.form {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;

	justify-items: center;
	row-gap: 12px;

	button {
		font-size: 2em;
	}

	input {
		width: 193px;
		font-size: 2em;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

	input[type='number'] {
		-moz-appearance: textfield; /* Firefox */
	}
}
